html {
  background-color: rgb(218, 167, 167);
}
html {
  color:blueviolet
}
h1 {
  background-color:bisque
}
p {
  background-color:bisque
}
p {
  font-style:oblique
}
p {
  font-variant:small-caps
}